<%# viewable by anyone %>

<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome, please log in or sign up!</h2>

    <div class="content">
      <p><%= @error%></p>
      <form action="/sessions/login" method="post">
        <label for="email">Email:</label>
        <input type="string" name="email"><br>
        <label for="password">Password:</label>
        <input type="password" name="password"><br></p>
        <input type="submit" value="Log In"><br>
      </form>
      <br>
      <a href="/users/new"><button>Sign Up</button></a><br>
      <br>
      <br>
      <%# <a href="/security">Forgot Password</a><br> %>
    </div>


  </div>
</div>
