<%# viewable only to the user self %>

<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Change Your Password</h2>
      <p><%= @message %></p>

    <div class="content">
      <% if @user.errors.any? %>
        </div><% @user.errors.full_messages.each do |msg| %>
          <p><%= msg %></p><br>
        </div><% end %>
      <% end %>
      <form action=<%= "/edit_password" %> method="POST">
      <input type="hidden" name="_method" value="PATCH">
        <label for="current_password">Current Password:</label>
        <input type="password" name="current_password"><br>
        <br>
        <label style="text-decoration: underline;">New</label><br>
        <label for="password">Password:</label>
        <input type="password" name="password"><br>
        <br>
        <label for="password_confirmation">Password Confirmation:</label>
        <input type="password" name="password_confirmation"><br>
        <br>
        <input type="submit" value="Change Password">
        </p>
      </form>
      <br>
      <br>
      <p><a href=<%= "/" %>><button><- Back</button></a></p>

    </div>


  </div>
</div>