<%# viewable by anyone %>

<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome, please sign up!</h2>

    <div class="content">
      <p><%= @error%></p>
      <form action="/users" method="post">
        <p>
        <label for="username">Username:</label>
        <input type="string" name="username"><br>
        <label for="email">Email:</label>
        <input type="string" name="email"><br>
        <label for="password">Password:</label>
        <input type="password" name="password">
        </p><br>
        <input type="submit" value="Sign Up"><br>
      </form>
      <br>
      <p>Already have an account? <a href="/sessions/login">Log In</a></p>

    </div>


  </div>
</div>
