<%# viewable by anyone %>

<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome, please log in or sign up!</h2>

    <div class="content">
      <p>Tired of losing your shopping list or being let down by other applications?</p>
      <p>Sign up for the only shopping list app you will ever need!</p>
      <br>
      <a href="/user/signup">Sign Up</a><br>
      <br>
      <p>Already signed up? <a href="/sessions/login">Log In</a></p>
    </div>


  </div>
</div>
